---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Gewusst wie:] Testergebnisse veröffentlichen und analysieren? | Microsoft-Dokumentation'
author: rick-anderson
description: Visual Studio Team System ermöglicht es Ihnen, Änderungen an der Codequalität eines Projekts im Verlauf des Projekts zu unterzeichnen. Dieses Video enthält Anweisungen zum Publ...
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: e7e91932a6e91a63e2e46417626f39d6b244a3ab
ms.translationtype: MT
ms.contentlocale: de-DE
ms.lasthandoff: 03/06/2020
ms.locfileid: "78520875"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a>[Gewusst wie:] Testergebnisse veröffentlichen und analysieren?

von [Chris menegay](https://twitter.com/CMenegay)

Visual Studio Team System ermöglicht es Ihnen, Änderungen an der Codequalität eines Projekts im Verlauf des Projekts zu unterzeichnen. Dieses Video enthält Anweisungen zum Veröffentlichen von Testergebnissen in der Team Foundation Server Project-Datenbank und zum Zuordnen der Ergebnisse zu einer Buildnummer. Wir sehen, dass nach der Veröffentlichung der Ergebnisse die Berichts-Manager verwendet werden kann, um eine grafische Darstellung der Änderungen in den buildtestergebnissen anzuzeigen.

[&#9654;Video ansehen (7 Minuten)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Zurück](how-do-i-use-generic-tests.md)
> [Weiter](how-do-i-discover-application-changes-prior-to-deployment.md)
