---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Gewusst wie:] Testergebnisse veröffentlichen und analysieren? | Microsoft-Dokumentation'
author: rick-anderson
description: Visual Studio Team System ermöglicht es Ihnen, Änderungen an der Codequalität eines Projekts im Verlauf des Projekts zu unterzeichnen. Dieses Video enthält Anweisungen zum Publ...
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: e7e91932a6e91a63e2e46417626f39d6b244a3ab
ms.translationtype: MT
ms.contentlocale: de-DE
ms.lasthandoff: 03/06/2020
ms.locfileid: "78520875"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="1eee2-105">[Gewusst wie:] Testergebnisse veröffentlichen und analysieren?</span><span class="sxs-lookup"><span data-stu-id="1eee2-105">[How Do I:] Publish and Analyze Test Results?</span></span>

<span data-ttu-id="1eee2-106">von [Chris menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="1eee2-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="1eee2-107">Visual Studio Team System ermöglicht es Ihnen, Änderungen an der Codequalität eines Projekts im Verlauf des Projekts zu unterzeichnen.</span><span class="sxs-lookup"><span data-stu-id="1eee2-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="1eee2-108">Dieses Video enthält Anweisungen zum Veröffentlichen von Testergebnissen in der Team Foundation Server Project-Datenbank und zum Zuordnen der Ergebnisse zu einer Buildnummer.</span><span class="sxs-lookup"><span data-stu-id="1eee2-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="1eee2-109">Wir sehen, dass nach der Veröffentlichung der Ergebnisse die Berichts-Manager verwendet werden kann, um eine grafische Darstellung der Änderungen in den buildtestergebnissen anzuzeigen.</span><span class="sxs-lookup"><span data-stu-id="1eee2-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="1eee2-110">&#9654;Video ansehen (7 Minuten)</span><span class="sxs-lookup"><span data-stu-id="1eee2-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="1eee2-111">[Zurück](how-do-i-use-generic-tests.md)
> [Weiter](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="1eee2-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
